In [110]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [111]:
df=pd.read_csv(r'C:\Users\MSI PC\OneDrive\Documents\New folder (2)\csvf\archive\Car details v3.csv')

In [112]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [113]:
df=df.drop(['torque','max_power'],axis=1)

In [114]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,5.0

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(7)
memory usage: 698.6+ KB

In [116]:
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
seats            221
dtype: int64

In [117]:
df=df.dropna(axis=0)

In [118]:
df['mileage']=df['mileage'].str.split(' ').str.get(0)
df['engine']=df['engine'].str.split(' ').str.get(0)

In [119]:
df['mileage']=df['mileage'].astype(float)
df['engine']=df['engine'].astype(float)

In [120]:
df['mileage']=df['mileage'].astype(int)
df['engine']=df['engine'].astype(int)
df['seats']=df['seats'].astype(int)

In [121]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23,1248,5
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21,1498,5
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17,1497,5
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23,1396,5
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16,1298,5

In [125]:
df['company']=df['name'].str.split(' ').str.get(0)

In [127]:
df['name']=df['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [128]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,seats,company
0,Maruti Swift Dzire,2014,450000,145500,Diesel,Individual,Manual,First Owner,23,1248,5,Maruti
1,Skoda Rapid 1.5,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21,1498,5,Skoda
2,Honda City 2017-2020,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17,1497,5,Honda
3,Hyundai i20 Sportz,2010,225000,127000,Diesel,Individual,Manual,First Owner,23,1396,5,Hyundai
4,Maruti Swift VXI,2007,130000,120000,Petrol,Individual,Manual,First Owner,16,1298,5,Maruti

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7907 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7907 non-null   object
 1   year           7907 non-null   int64
 2   selling_price  7907 non-null   int64
 3   km_driven      7907 non-null   int64
 4   fuel           7907 non-null   object
 5   seller_type    7907 non-null   object
 6   transmission   7907 non-null   object
 7   owner          7907 non-null   object
 8   mileage        7907 non-null   int32
 9   engine         7907 non-null   int32
 10  seats          7907 non-null   int32
 11  company        7907 non-null   object
dtypes: int32(3), int64(3), object(6)
memory usage: 710.4+ KB

In [130]:
x=df.drop('selling_price',axis=1)
y=df['selling_price']

In [131]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=2)

In [132]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

ohe=OneHotEncoder()
ohe.fit(x[['name','company','fuel','owner','seller_type','transmission']])

print(ohe.categories_)
ct=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel','owner','seller_type','transmission']),remainder='passthrough')

[array(['Ambassador CLASSIC 1500', 'Ambassador Classic 2000',
       'Ambassador Grand 1500', 'Ambassador Grand 2000',
       'Ashok Leyland Stile', 'Audi A3 35', 'Audi A3 40', 'Audi A4 1.8',
       'Audi A4 2.0', 'Audi A4 35', 'Audi A6 2.0', 'Audi A6 35',
       'Audi Q3 2.0', 'Audi Q3 35', 'Audi Q5 2.0', 'Audi Q5 3.0',
       'Audi Q5 35TDI', 'Audi Q5 45', 'Audi Q7 3.0', 'Audi Q7 35',
       'BMW 3 Series', 'BMW 5 Series', 'BMW 6 Series', 'BMW 7 Series',
       'BMW X1 sDrive', 'BMW X1 sDrive20d', 'BMW X1 sDrive20i',
       'BMW X3 xDrive20d', 'BMW X4 M', 'BMW X5 3.0d', 'BMW X6 xDrive30d',
       'BMW X7 xDrive', 'Chevrolet Aveo 1.4', 'Chevrolet Aveo U-VA',
       'Chevrolet Beat Diesel', 'Chevrolet Beat LS', 'Chevrolet Beat LT',
       'Chevrolet Captiva 2.2', 'Chevrolet Captiva LT',
       'Chevrolet Cruze LT', 'Chevrolet Cruze LTZ', 'Chevrolet Enjoy 1.3',
       'Chevrolet Enjoy 1.4', 'Chevrolet Enjoy Petrol',
       'Chevrolet Enjoy TCDi', 'Chevrolet Optra 1.6',
       'Chevrolet Optra Magnum', 'Chevrolet Sail 1.2',
       'Chevrolet Sail 1.3', 'Chevrolet Sail Hatchback',
       'Chevrolet Sail LT', 'Chevrolet Spark 1.0',
       'Chevrolet Tavera B1-10', 'Chevrolet Tavera B2',
       'Chevrolet Tavera B3', 'Chevrolet Tavera LS',
       'Chevrolet Tavera Neo', 'Chevrolet Trailblazer LTZ',
       'Daewoo Matiz SD', 'Daewoo Matiz SS', 'Datsun GO A',
       'Datsun GO Anniversary', 'Datsun GO D', 'Datsun GO Plus',
       'Datsun GO T', 'Datsun RediGO 1.0', 'Datsun RediGO A',
       'Datsun RediGO AMT', 'Datsun RediGO S', 'Datsun RediGO SV',
       'Datsun RediGO Sport', 'Datsun RediGO T',
       'Fiat Avventura MULTIJET', 'Fiat Avventura Power',
       'Fiat Grande Punto', 'Fiat Linea 1.3', 'Fiat Linea Classic',
       'Fiat Linea Emotion', 'Fiat Punto 1.2', 'Fiat Punto EVO',
       'Fiat Punto Pure', 'Force Gurkha Hard', 'Force One EX',
       'Force One SX', 'Ford Aspire Titanium', 'Ford Aspire Trend',
       'Ford Classic 1.4', 'Ford Classic 1.6', 'Ford EcoSport 1.5',
       'Ford EcoSport S', 'Ford Ecosport 1.0', 'Ford Ecosport 1.5',
       'Ford Ecosport Sports', 'Ford Endeavour 2.2',
       'Ford Endeavour 2.5L', 'Ford Endeavour 3.0L', 'Ford Endeavour 3.2',
       'Ford Endeavour 4x2', 'Ford Endeavour Hurricane',
       'Ford Fiesta 1.4', 'Ford Fiesta 1.5', 'Ford Fiesta 1.6',
       'Ford Fiesta Classic', 'Ford Fiesta Diesel', 'Ford Fiesta EXi',
       'Ford Fiesta Titanium', 'Ford Figo 1.2P', 'Ford Figo 1.5',
       'Ford Figo 1.5D', 'Ford Figo 1.5P', 'Ford Figo Aspire',
       'Ford Figo Diesel', 'Ford Figo Petrol', 'Ford Figo Titanium',
       'Ford Freestyle Titanium', 'Ford Freestyle Trend',
       'Ford Fusion 1.4', 'Ford Fusion Plus', 'Ford Ikon 1.3',
       'Ford Ikon 1.4', 'Ford Ikon 1.6', 'Honda Accord 2.4',
       'Honda Accord V6', 'Honda Accord VTi-L', 'Honda Amaze Anniversary',
       'Honda Amaze E', 'Honda Amaze EX', 'Honda Amaze S',
       'Honda Amaze SX', 'Honda Amaze V', 'Honda Amaze VX',
       'Honda Amaze i-VTEC', 'Honda BR-V i-DTEC', 'Honda BR-V i-VTEC',
       'Honda BRV i-DTEC', 'Honda BRV i-VTEC', 'Honda Brio 1.2',
       'Honda Brio E', 'Honda Brio Exclusive', 'Honda Brio S',
       'Honda Brio V', 'Honda CR-V 2.0L', 'Honda CR-V 2.4',
       'Honda CR-V 2.4L', 'Honda City 1.3', 'Honda City 1.5',
       'Honda City 2017-2020', 'Honda City Corporate', 'Honda City E',
       'Honda City S', 'Honda City V', 'Honda City VX', 'Honda City ZXi',
       'Honda City i', 'Honda City i-DTEC', 'Honda City i-VTEC',
       'Honda Civic 1.8', 'Honda Civic Hybrid', 'Honda Civic ZX',
       'Honda Jazz 1.2', 'Honda Jazz 1.5', 'Honda Jazz Basic',
       'Honda Jazz Select', 'Honda Jazz V', 'Honda Jazz VX',
       'Honda Mobilio RS', 'Honda Mobilio S', 'Honda Mobilio V',
       'Honda WR-V i-DTEC', 'Honda WR-V i-VTEC', 'Hyundai Accent CRDi',
       'Hyundai Accent DLS', 'Hyundai Accent Executive',
       'Hyundai Accent GLE', 'Hyundai Accent GLS', 'Hyundai Accent GLX',
       'Hyundai Accent VIVA', 'Hyundai Creta 1.4', 'Hyundai Creta 1.6',
       'Hyundai EON 1.0', 'Hyundai EON D', 'Hyundai EON Era',
       'Hyundai EON LPG', 'Hyundai EON Magna', 'Hyundai EON Sportz',
       'Hyundai Elantra CRDi', 'Hyundai Elantra GLS',
       'Hyundai Elantra GT', 'Hyundai Elantra S', 'Hyundai Elantra SX',
       'Hyundai Elite i20', 'Hyundai Getz 1.1', 'Hyundai Getz 1.3',
       'Hyundai Getz 1.5', 'Hyundai Getz GLE', 'Hyundai Getz GLS',
       'Hyundai Getz GLX', 'Hyundai Grand i10', 'Hyundai Santa Fe',
       'Hyundai Santro Asta', 'Hyundai Santro Era',
       'Hyundai Santro Magna', 'Hyundai Santro Sportz',
       'Hyundai Santro Xing', 'Hyundai Sonata 2.0L', 'Hyundai Sonata 2.4',
       'Hyundai Sonata 2.4L', 'Hyundai Sonata CRDi', 'Hyundai Tucson 2.0',
       'Hyundai Tucson CRDi', 'Hyundai Venue SX', 'Hyundai Verna 1.4',
       'Hyundai Verna 1.6', 'Hyundai Verna CRDi', 'Hyundai Verna S',
       'Hyundai Verna SX', 'Hyundai Verna Transform',
       'Hyundai Verna VTVT', 'Hyundai Verna XXi', 'Hyundai Verna Xi',
       'Hyundai Xcent 1.1', 'Hyundai Xcent 1.2', 'Hyundai i10 Asta',
       'Hyundai i10 Era', 'Hyundai i10 LPG', 'Hyundai i10 Magna',
       'Hyundai i10 Sportz', 'Hyundai i20 1.2', 'Hyundai i20 1.4',
       'Hyundai i20 2015-2017', 'Hyundai i20 Active', 'Hyundai i20 Asta',
       'Hyundai i20 Diesel', 'Hyundai i20 Era', 'Hyundai i20 Magna',
       'Hyundai i20 Petrol', 'Hyundai i20 Sportz', 'Isuzu D-Max V-Cross',
       'Isuzu MU 7', 'Isuzu MUX 2WD', 'Jaguar XE 2016-2019',
       'Jaguar XF 2.0', 'Jaguar XF 2.2', 'Jaguar XF 3.0',
       'Jaguar XF Diesel', 'Jeep Compass 1.4', 'Jeep Compass 2.0',
       'Jeep Wrangler 2016-2019', 'Kia Seltos HTE', 'Kia Seltos HTX',
       'Land Rover Discovery', 'Land Rover Freelander',
       'Land Rover Range', 'Lexus ES 300h', 'MG Hector Sharp',
       'MG Hector Smart', 'Mahindra Bolero 2011-2019',
       'Mahindra Bolero B2', 'Mahindra Bolero B4', 'Mahindra Bolero DI',
       'Mahindra Bolero LX', 'Mahindra Bolero PLUS',
       'Mahindra Bolero Pik-Up', 'Mahindra Bolero Power',
       'Mahindra Bolero SLE', 'Mahindra Bolero SLX',
       'Mahindra Bolero VLX', 'Mahindra Bolero XL', 'Mahindra Bolero ZLX',
       'Mahindra KUV 100', 'Mahindra Logan Diesel',
       'Mahindra Logan Petrol', 'Mahindra Marazzo M2',
       'Mahindra Marazzo M6', 'Mahindra Marazzo M8',
       'Mahindra NuvoSport N8', 'Mahindra Quanto C2',
       'Mahindra Quanto C4', 'Mahindra Quanto C6', 'Mahindra Quanto C8',
       'Mahindra Renault Logan', 'Mahindra Scorpio 1.99',
       'Mahindra Scorpio 2.6', 'Mahindra Scorpio 2006-2009',
       'Mahindra Scorpio 2009-2014', 'Mahindra Scorpio EX',
       'Mahindra Scorpio Gateway', 'Mahindra Scorpio Getaway',
       'Mahindra Scorpio Intelli', 'Mahindra Scorpio LX',
       'Mahindra Scorpio M2DI', 'Mahindra Scorpio S10',
       'Mahindra Scorpio S11', 'Mahindra Scorpio S2',
       'Mahindra Scorpio S3', 'Mahindra Scorpio S4',
       'Mahindra Scorpio S5', 'Mahindra Scorpio S7',
       'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
       'Mahindra Scorpio VLS', 'Mahindra Scorpio VLX',
       'Mahindra Ssangyong Rexton', 'Mahindra Supro LX',
       'Mahindra TUV 300', 'Mahindra Thar 4X4', 'Mahindra Thar CRDe',
       'Mahindra Thar DI', 'Mahindra Verito 1.4', 'Mahindra Verito 1.5',
       'Mahindra Verito 1.6', 'Mahindra Verito Vibe',
       'Mahindra XUV300 W6', 'Mahindra XUV300 W8', 'Mahindra XUV500 AT',
       'Mahindra XUV500 W10', 'Mahindra XUV500 W11', 'Mahindra XUV500 W4',
       'Mahindra XUV500 W5', 'Mahindra XUV500 W6', 'Mahindra XUV500 W7',
       'Mahindra XUV500 W8', 'Mahindra XUV500 W9', 'Mahindra Xylo D2',
       'Mahindra Xylo D4', 'Mahindra Xylo E4', 'Mahindra Xylo E6',
       'Mahindra Xylo E8', 'Mahindra Xylo H4', 'Mahindra Xylo H9',
       'Maruti 800 AC', 'Maruti 800 DX', 'Maruti 800 EX',
       'Maruti 800 Std', 'Maruti 800 Uniq', 'Maruti A-Star Lxi',
       'Maruti A-Star Vxi', 'Maruti A-Star Zxi', 'Maruti Alto 800',
       'Maruti Alto AX', 'Maruti Alto Green', 'Maruti Alto K10',
       'Maruti Alto LX', 'Maruti Alto LXI', 'Maruti Alto LXi',
       'Maruti Alto STD', 'Maruti Alto Std', 'Maruti Baleno Alpha',
       'Maruti Baleno Delta', 'Maruti Baleno LXI', 'Maruti Baleno RS',
       'Maruti Baleno Sigma', 'Maruti Baleno Zeta', 'Maruti Celerio LDi',
       'Maruti Celerio LXI', 'Maruti Celerio VDi', 'Maruti Celerio VXI',
       'Maruti Celerio VXi', 'Maruti Celerio X', 'Maruti Celerio ZDi',
       'Maruti Celerio ZXI', 'Maruti Ciaz 1.3', 'Maruti Ciaz 1.4',
       'Maruti Ciaz AT', 'Maruti Ciaz Alpha', 'Maruti Ciaz Delta',
       'Maruti Ciaz RS', 'Maruti Ciaz S', 'Maruti Ciaz VDI',
       'Maruti Ciaz VDi', 'Maruti Ciaz VXi', 'Maruti Ciaz ZDi',
       'Maruti Ciaz ZXi', 'Maruti Ciaz Zeta', 'Maruti Dzire LXI',
       'Maruti Dzire VXI', 'Maruti Dzire ZXI', 'Maruti Eeco 5',
       'Maruti Eeco 7', 'Maruti Eeco CNG', 'Maruti Eeco Smiles',
       'Maruti Ertiga 1.5', 'Maruti Ertiga BSIV', 'Maruti Ertiga LDI',
       'Maruti Ertiga LXI', 'Maruti Ertiga SHVS', 'Maruti Ertiga VDI',
       'Maruti Ertiga VXI', 'Maruti Ertiga ZDI', 'Maruti Ertiga ZXI',
       'Maruti Esteem AX', 'Maruti Esteem DI', 'Maruti Esteem LX',
       'Maruti Esteem Lxi', 'Maruti Esteem Vxi', 'Maruti Gypsy King',
       'Maruti Ignis 1.2', 'Maruti Ignis 1.3', 'Maruti Ignis Zeta',
       'Maruti Omni 5', 'Maruti Omni 8', 'Maruti Omni CNG',
       'Maruti Omni E', 'Maruti Omni LPG', 'Maruti Omni Limited',
       'Maruti Omni MPI', 'Maruti Ritz Genus', 'Maruti Ritz LDi',
       'Maruti Ritz LXI', 'Maruti Ritz LXi', 'Maruti Ritz VDi',
       'Maruti Ritz VXI', 'Maruti Ritz VXi', 'Maruti Ritz ZDi',
       'Maruti Ritz ZXi', 'Maruti S-Cross 2017-2020',
       'Maruti S-Presso VXI', 'Maruti SX4 Celebration',
       'Maruti SX4 Green', 'Maruti SX4 S', 'Maruti SX4 VDI',
       'Maruti SX4 Vxi', 'Maruti SX4 ZDI', 'Maruti SX4 ZXI',
       'Maruti SX4 Zxi', 'Maruti Swift 1.2', 'Maruti Swift AMT',
       'Maruti Swift DDiS', 'Maruti Swift Dzire', 'Maruti Swift Glam',
       'Maruti Swift LDI', 'Maruti Swift LXI', 'Maruti Swift LXi',
       'Maruti Swift Ldi', 'Maruti Swift Lxi', 'Maruti Swift Star',
       'Maruti Swift VDI', 'Maruti Swift VDi', 'Maruti Swift VVT',
       'Maruti Swift VXI', 'Maruti Swift VXi', 'Maruti Swift Vdi',
       'Maruti Swift ZDI', 'Maruti Swift ZDi', 'Maruti Swift ZXI',
       'Maruti Vitara Brezza', 'Maruti Wagon R', 'Maruti XL6 Alpha',
       'Maruti Zen Base', 'Maruti Zen Classic', 'Maruti Zen D',
       'Maruti Zen Estilo', 'Maruti Zen LX', 'Maruti Zen LXI',
       'Maruti Zen LXi', 'Maruti Zen Std', 'Maruti Zen VXI',
       'Maruti Zen VXi', 'Mercedes-Benz B Class', 'Mercedes-Benz CLA 200',
       'Mercedes-Benz E-Class E', 'Mercedes-Benz E-Class E250',
       'Mercedes-Benz E-Class E270', 'Mercedes-Benz E-Class E350',
       'Mercedes-Benz E-Class Exclusive', 'Mercedes-Benz GL-Class 220d',
       'Mercedes-Benz GL-Class 350', 'Mercedes-Benz GLA Class',
       'Mercedes-Benz GLC 220d', 'Mercedes-Benz M-Class ML',
       'Mercedes-Benz New C-Class', 'Mercedes-Benz S-Class S',
       'Mitsubishi Lancer 2.0', 'Mitsubishi Pajero 2.8',
       'Mitsubishi Pajero Sport', 'Nissan Kicks XL', 'Nissan Kicks XV',
       'Nissan Micra Active', 'Nissan Micra Diesel',
       'Nissan Micra Fashion', 'Nissan Micra XE', 'Nissan Micra XL',
       'Nissan Micra XV', 'Nissan Sunny Diesel', 'Nissan Sunny XE',
       'Nissan Sunny XL', 'Nissan Sunny XV', 'Nissan Teana XL',
       'Nissan Terrano XE', 'Nissan Terrano XL', 'Nissan Terrano XV',
       'Opel Astra 1.6', 'Renault Captur 1.5', 'Renault Duster 110PS',
       'Renault Duster 4x4', 'Renault Duster 85PS',
       'Renault Duster Adventure', 'Renault Duster Petrol',
       'Renault Duster RXL', 'Renault Duster RXZ', 'Renault Fluence 1.5',
       'Renault Fluence 2.0', 'Renault Fluence Diesel',
       'Renault KWID 1.0', 'Renault KWID AMT', 'Renault KWID Climber',
       'Renault KWID RXE', 'Renault KWID RXL', 'Renault KWID RXT',
       'Renault Koleos 2.0', 'Renault Lodgy 85PS',
       'Renault Lodgy Stepway', 'Renault Lodgy World',
       'Renault Pulse RxL', 'Renault Pulse RxZ', 'Renault Scala Diesel',
       'Renault Triber RXT', 'Renault Triber RXZ', 'Skoda Fabia 1.2',
       'Skoda Fabia 1.2L', 'Skoda Fabia 1.4', 'Skoda Fabia Scout',
       'Skoda Kodiaq 2.0', 'Skoda Laura Ambiente',
       'Skoda Octavia Ambiente', 'Skoda Octavia Ambition',
       'Skoda Octavia Classic', 'Skoda Octavia Elegance',
       'Skoda Octavia L', 'Skoda Octavia RS', 'Skoda Octavia Rider',
       'Skoda Octavia Style', 'Skoda Rapid 1.5', 'Skoda Rapid 1.6',
       'Skoda Rapid Monte', 'Skoda Rapid Ultima', 'Skoda Superb Elegance',
       'Skoda Superb LK', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
       'Tata Aria Prestige', 'Tata Aria Pride', 'Tata Aria Pure',
       'Tata Bolt Quadrajet', 'Tata Bolt Revotron', 'Tata Harrier XZ',
       'Tata Hexa XE', 'Tata Hexa XM', 'Tata Hexa XT', 'Tata Hexa XTA',
       'Tata Indica GLS', 'Tata Indica V2', 'Tata Indica Vista',
       'Tata Indigo CR4', 'Tata Indigo CS', 'Tata Indigo GLS',
       'Tata Indigo GLX', 'Tata Indigo Grand', 'Tata Indigo LS',
       'Tata Indigo LX', 'Tata Indigo TDI', 'Tata Indigo V',
       'Tata Indigo VS', 'Tata Indigo eCS', 'Tata Manza Aqua',
       'Tata Manza Aura', 'Tata Manza Club', 'Tata Manza ELAN',
       'Tata Nano CX', 'Tata Nano Cx', 'Tata Nano LX', 'Tata Nano Lx',
       'Tata Nano STD', 'Tata Nano Twist', 'Tata Nano XE',
       'Tata Nano XTA', 'Tata New Safari', 'Tata Nexon 1.2',
       'Tata Nexon 1.5', 'Tata Safari DICOR', 'Tata Safari Storme',
       'Tata Spacio Gold-10/6', 'Tata Sumo CX', 'Tata Sumo EX',
       'Tata Sumo GX', 'Tata Sumo Gold', 'Tata Sumo MKII', 'Tata Sumo SE',
       'Tata Tiago 1.05', 'Tata Tiago 1.2', 'Tata Tiago 2019-2020',
       'Tata Tiago NRG', 'Tata Tiago Wizz', 'Tata Tiago XT',
       'Tata Tigor 1.05', 'Tata Tigor 1.2', 'Tata Tigor 2017-2020',
       'Tata Venture EX', 'Tata Venture LX', 'Tata Winger Deluxe',
       'Tata Xenon XT', 'Tata Zest Quadrajet', 'Tata Zest Revotron',
       'Toyota Camry 2.5', 'Toyota Camry V4', 'Toyota Camry W4',
       'Toyota Corolla AE', 'Toyota Corolla Altis', 'Toyota Corolla DX',
       'Toyota Corolla H2', 'Toyota Etios 1.4', 'Toyota Etios 1.5',
       'Toyota Etios Cross', 'Toyota Etios Diesel', 'Toyota Etios G',
       'Toyota Etios GD', 'Toyota Etios Liva', 'Toyota Etios VD',
       'Toyota Etios VX', 'Toyota Etios VXD', 'Toyota Fortuner 2.5',
       'Toyota Fortuner 2.8', 'Toyota Fortuner 3.0',
       'Toyota Fortuner 4x2', 'Toyota Fortuner 4x4', 'Toyota Glanza G',
       'Toyota Glanza V', 'Toyota Innova 2.5', 'Toyota Innova Crysta',
       'Toyota Land Cruiser', 'Toyota Platinum Etios', 'Toyota Qualis FS',
       'Toyota Yaris V', 'Volkswagen Ameo 1.0', 'Volkswagen Ameo 1.2',
       'Volkswagen Ameo 1.5', 'Volkswagen CrossPolo 1.5',
       'Volkswagen GTI 1.8', 'Volkswagen Jetta 1.6',
       'Volkswagen Jetta 2.0', 'Volkswagen Jetta 2.0L',
       'Volkswagen Passat 1.8', 'Volkswagen Passat 2.0',
       'Volkswagen Passat Highline', 'Volkswagen Polo 1.0',
       'Volkswagen Polo 1.2', 'Volkswagen Polo 1.5',
       'Volkswagen Polo 2015-2019', 'Volkswagen Polo Diesel',
       'Volkswagen Polo GT', 'Volkswagen Polo Petrol',
       'Volkswagen Polo Select', 'Volkswagen Vento 1.5',
       'Volkswagen Vento 1.6', 'Volkswagen Vento Diesel',
       'Volkswagen Vento IPL', 'Volkswagen Vento Konekt',
       'Volkswagen Vento Petrol', 'Volvo S60 D4', 'Volvo S90 D4',
       'Volvo V40 Cross', 'Volvo V40 D3', 'Volvo XC40 D4',
       'Volvo XC60 Inscription', 'Volvo XC90 T8'], dtype=object), array(['Ambassador', 'Ashok', 'Audi', 'BMW', 'Chevrolet', 'Daewoo',
       'Datsun', 'Fiat', 'Force', 'Ford', 'Honda', 'Hyundai', 'Isuzu',
       'Jaguar', 'Jeep', 'Kia', 'Land', 'Lexus', 'MG', 'Mahindra',
       'Maruti', 'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Opel',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object), array(['CNG', 'Diesel', 'LPG', 'Petrol'], dtype=object), array(['First Owner', 'Fourth & Above Owner', 'Second Owner',
       'Test Drive Car', 'Third Owner'], dtype=object), array(['Dealer', 'Individual', 'Trustmark Dealer'], dtype=object), array(['Automatic', 'Manual'], dtype=object)]

In [133]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

from sklearn.pipeline import make_pipeline

pipe=make_pipeline(ct,lr)

In [134]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Ambassador CLASSIC 1500', 'Ambassador Classic 2000',
       'Ambassador Grand 1500', 'Ambassador Grand 2000',
       'Ashok Leyland Stile', 'Audi A3 35', 'Audi A3 40', 'Audi A4 1.8',
       'Audi A4 2.0', 'Audi A4 35', 'Audi A6 2.0', 'Audi A6 35',
       'Audi Q3 2.0', 'Au...
                                                                            array(['CNG', 'Diesel', 'LPG', 'Petrol'], dtype=object),
                                                                            array(['First Owner', 'Fourth & Above Owner', 'Second Owner',
       'Test Drive Car', 'Third Owner'], dtype=object),
                                                                            array(['Dealer', 'Individual', 'Trustmark Dealer'], dtype=object),
                                                                            array(['Automatic', 'Manual'], dtype=object)]),
                                                  ['name', 'company', 'fuel',
                                                   'owner', 'seller_type',
                                                   'transmission'])])),
                ('linearregression', LinearRegression())])

In [135]:
y_pred=pipe.predict(x_test)

In [136]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9549801493288722

In [137]:
import pickle

pickle.dump(pipe,open('prediction.pkl','wb'))